<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AHSKvant"
		     connectionString="Server=tcp:10.5.85.33;Database=AHS;Integrated Security=True;Connect Timeout=5;Encrypt=False"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="OpenAIApiKey" value="changeme" />
	</appSettings>
</configuration>