<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="OpenAIApiKey" value="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" />
	</appSettings>
</configuration>