[DEFAULT]
ConnectionType=initiator
ReconnectInterval=60
UseDataDictionary=N

# Trading Session
[SESSION]
BeginString=FIX.4.4
# Connection type: Trading or STP
ConnectionProfile=Trading
# Trading credentials
SenderCompID=WEBFENICS55
GFIUsername=swed.obo.stg.api
GFIPassword=ZQcZokEOLjb9
OnBehalfOfCompID=SWES
# STP credentials
#SenderCompID=GFI_BFXO_SWED_TC1
#GFIUsername=gfi_bfxo_swed_tc1
#GFIPassword=ylhU6Q1eaxXf
TargetCompID=GFI
SocketConnectHost=localhost
SocketConnectPort=9443
SSLTargetHost=quotes.stage2.gfifx.com
SSLTargetPort=443
HeartBtInt=10
ResetOnLogon=Y
EncryptMethod=0
StartTime=00:00:00
EndTime=00:00:00

# STP Session
[SESSION]
BeginString=FIX.4.4
SenderCompID=GFI_BFXO_SWED_TC1
TargetCompID=GFI
SocketConnectHost=localhost
SocketConnectPort=9444
HeartBtInt=10
ResetOnLogon=Y
EncryptMethod=0
StartTime=00:00:00
EndTime=00:00:00